html body {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(25, 25, 25, 1) 100%,
        rgba(255, 255, 255, 0) 100%
    );
    background-attachment: fixed;
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
}